$govuk-assets-path: "/guidance/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/guidance/assets/lib/hmrc-frontend/hmrc/";

$govuk-global-styles: true;

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.app-get-help-link {
  padding-top: 30px;
  font-size: 1rem;
}

@import "_numbered-circle-list";

.govuk-skip-link:link {text-decoration: underline; }

.govuk-summary-list__value.numeric { text-align: right }

@media print {
  .govuk-phase-banner,
  .cbanner-govuk-cookie-banner,
  .hmrc-report-technical-issue,
  .centered-content,
  .govuk-button,
  .govuk-breadcrumbs,
  .hmrc-language-select,
  .govuk-skip-link,
  .govuk-back-link,
  .app-get-help-link,
  .govuk-summary-list__actions .govuk-link,
  footer
  { display: none; }

  .govuk-main-wrapper > .govuk-grid-row > div[class*='govuk-grid-column-'] {
      width: 100%;
  }

}